svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

.login-group {
    display: flex;
    flex-direction: column;
    width: 40vh;
}